@use '../utils/colors.scss' as colors;
@use '../utils/font-sizes.scss' as sizes;
@use '../utils/font-titles.scss' as font-titles;
@use '../utils/media-queries.scss' as media-queries;
@use 'sass:map';

.DropdownList {
    width: 100%;
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px 10px 15px;
        border-radius: 5px;
        background-color: colors.$primary;
        h2 {
            font-weight: 700;
            font-size: map.get(font-titles.$title-desktop, '/about-sections');
            color: map.get(colors.$monochrome, '100');
        }
        img {
            cursor: pointer;
            transform: rotate(0deg);
            transition: transform 0.4s ease-in-out;
            &.rotateActive {
                transform: rotate(180deg);
            }
        }
    }
    ul {
        opacity: 0;
        max-height: 0px;
        transform: scaleY(0);
        transform-origin: top;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: map.get(colors.$monochrome, '200');
        font-weight: 400;
        font-size: sizes.$font-md;
    }
    .isVisible {
        opacity: 1;
        max-height: 400px;
        padding: 25px 20px;
        transform: scaleY(1);
        transition: transform 0.4s ease-in-out, opacity 0.6s ease-in-out;
    }
};


@include media-queries.media-queries-laptop() {
    .DropdownList header h2{
        font-size: sizes.$font-base;
    }
    .DropdownList .isVisible{
        padding: 20px 1rem;
        font-size: sizes.$font-sm;
    }
};

@include media-queries.media-queries-mobile() {
    .DropdownList header {
        padding: 10px;
        h2 {
            font-size: map.get(font-titles.$title-mobile, '/about-sections');
        }
    }
    .DropdownList .isVisible{
        padding: 10px;
        font-size: sizes.$font-2xs;
    }
};