@use '../utils/media-queries.scss' as media-queries;

.HousingRating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;

    img {
        width: 24px;
        height: 24px;
    }
};

@include media-queries.media-queries-mobile() {
    .HousingRating img {
        width: 18px;
        height: 18px;
    }
};