@use '../utils/colors.scss' as colors;
@use '../utils/font-titles.scss' as font-titles;
@use 'sass:map';

.HousingTag {
    width: 115px;
    padding: 2px;
    border-radius: 10px;
    background-color: colors.$primary;
    text-align: center;
    font-weight: 700;
    font-size: map.get(font-titles.$title-desktop, '/housing-tags');
    color: map.get(colors.$monochrome, '100');
}