@use '../utils/media-queries.scss' as media-queries;

.AboutPage {
    display: flex;
    flex-direction: column;
    section {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 38px 100px;
    }
};

@include media-queries.media-queries-laptop() {
    .AboutPage section {
        gap: 20px;
        padding: 26px 50px;
    }
};

@include media-queries.media-queries-mobile() {
    .AboutPage section {
        gap: 20px;
        padding: 20px 0px;
    }
};