@use '../utils/colors.scss' as colors;
@use 'sass:map';

.HomePage {
    display: flex;
    flex-direction: column;
    gap: 50px;
    div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(clamp(280px, 340px, 400px), 1fr));
        gap: 2rem;
        justify-items: center;
        padding: 50px;
        border-radius: 25px;
        background-color: map.get(colors.$monochrome, '300');
    }
}