@use '../utils/media-queries.scss' as media-queries;

.HousingPage__ctn {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    .HousingPage__ctn__titleAndTags{
        display: flex;
        flex-direction: column;
        gap: 20px;
        & > div{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    };
    &__ownerAndRating{
        display: flex;
        flex-direction: column;
        gap: 20px;
    };
};

.HousingPage__descriptionAndEquipment{
    margin-top: 24px;
    display: flex;
    gap: 76px
};

@include media-queries.media-queries-laptop() {
    .HousingPage__descriptionAndEquipment{
        gap: 30px
    }
};

@include media-queries.media-queries-mobile() {
    .HousingPage__ctn {
        margin-top: 15px;
        flex-direction: column;
        gap: 1rem;
            &__ownerAndRating{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            gap: 20px;
        };
    };
    .HousingPage__descriptionAndEquipment{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    };
};