.HousingPage{
    section {
        display: flex;
        justify-content: space-between;
    }
}

.HousingPage__titleAndTags{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__tags{
        display: flex;
        gap: 10px;
    }
}

.HousingPage__ownerAndRating{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
    
.HousingPage__descriptionAndEquipment{
    margin-top: 24px;
    display: flex;
    gap: 4%;
}
