@use '../utils//media-breakpoints.scss' as breakpoints;
@use '../utils/media-queries.scss' as media-queries;
@use 'sass:map';

.App {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: map.get(breakpoints.$desktop-landscape, 'max');
    min-width: map.get(breakpoints.$mobile-landscape, 'min');
    min-height: 100vh;
    main {
        flex: 1;
        padding: 50px 100px;
    }
};

@include media-queries.media-queries-laptop(){
    .App main {
        padding: 26px 40px;
    }
};

@include media-queries.media-queries-mobile(){
    .App main {
        padding: 26px 20px;
    }
};