@use '../utils/font-sizes.scss' as sizes;
@use '../utils/colors.scss' as colors;
@use 'sass:map';

.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0rem 2rem 0rem;
    background-color: map.get(colors.$monochrome, '900');
    p {
        margin-top: 2rem;
        font-size: sizes.$font-lg;
        font-weight: 500;
        color: map.get(colors.$monochrome, '100');
    }
}