@use '../assets/styles/utils/colors.scss' as colors;
@use '../assets/styles/utils/font-sizes.scss' as sizes;
@use '../assets/styles/utils/font-titles.scss' as font-titles;
@use 'sass:map';

.AboutSection {
    padding: 38px 200px;
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px 10px 15px;
        border-radius: 5px;
        background-color: colors.$primary;
        h2 {
            font-weight: 700;
            font-size: map.get(font-titles.$title-desktop, '/about-sections');
            color: map.get(colors.$monochrome, '100');
    
        }
        img{}
    }
    p {
        padding: 20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: map.get(colors.$monochrome, '200');
        font-weight: 400;
        font-size: sizes.$font-md;
    }
}